.task{
    width: 50%;
    margin: auto;
    border: solid 2px blueviolet;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}

.controls{
    width: 50%;
    margin: auto;
    border: solid 2px blueviolet;
    padding: 10px;
    text-align: center;
    margin-top:20px;
    font-weight: bold;
}

.result{
    width: 70%;
    margin: auto;
    border: solid 2px cadetblue;
    background: beige;
    padding: 10px;
    text-align: center;
    margin-top:20px;
    font-weight: bold;
}

.table{
    border: solid 1px green;
    padding: 5px;
}
