.zedacharcho{
    border: solid 1px rgb(55, 211, 55);
    width: 600px;
    margin: auto;
}

.qvedacharcho{
    border: solid 1px rgb(55, 211, 55);
    width: 600px;
    margin: auto;
}

.div2{
    border: solid 1px red;
    background-color: greenyellow;
    width:188px;
    margin: 10px;
}

.div2marg{
    margin: 5px;
}

.txtmarg1{
    margin: 10px;
    background-color: white;
}

.txtmarg{
    margin: 10px;
}

.margin{
    margin:3px 10px;
}