@media (max-width: 768px){

    html{
      scroll-behavior: smooth;
      overflow-x: hidden;
    }
    
    .mainheader{
      background-color: rgb(128, 0, 117);
      height: 50px;
    }
    
    .disp{
      display: flex;
      position: relative;
      top: 8px;
    }
    
    .sign a{
      text-decoration: none;
      color: white;
      margin-left: 15px;
      
    }
    
    .header1{
        background-color: aliceblue;
        height: 80px;
        margin:-10px;
        box-shadow:0px 3px 5px;
        color: rgb(128, 0, 117);
    }
    
    .headerimage{
        width: 130px;
        height: 80px;
        background-image: url(../logoforjs.png);
        background-size: 200px;
        background-repeat: no-repeat;
        background-position: center;
    
    }
    
    .marginhead{
        width: 70%;
        margin: auto;
        /* border: solid; */
        display: flex;
    }
    
    .headerlist{
        color: black;
        list-style: none;
        display:flex;
        width: 150px;
        margin-top: 25px;
        margin-right: 15px;
    }
    .li1{
        margin: 7px;
        font-family:Arial, Helvetica, sans-serif;
    }
    
    .headmenu{
        text-decoration: none;
        color: black;
    }
    
    .headmenu:hover{
        color: green;
    }
    
    /*menu nawili */
    
    .navbar {
      background-color: #333;
      position: fixed;
      z-index: 999;
      top: 0px;
      width: 100%;
      height:57px;
      display: flex;
    }
    
    .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 15px;
      height: 57px;
      width: 100%;
    }
    
    .navbar a:hover {
      background: #ddd;
      color: black;
    }
    
    .main {
      padding: 16px;
      margin-top: 30px;
    } 
    
    /* image slider */
    
    * {box-sizing: border-box}
    body {font-family: Verdana, sans-serif; margin:0}
    .mySlides {display: none}
    img {vertical-align: middle;}
    
    
    
    
    .footer{
        background-color: rgb(36, 35, 35);
        width: 100%;
    }
    
    .info{
      color: white;
      font-size: 13px;
    }
    
    
    .displaycont{
      display: flex;
    }
    
    
    .contphoto1{
      background-image: url(./misamart.png);
      background-size: 20px;
      height: 20px;
      width: 20px;
      margin: 10px;
      background-repeat: no-repeat;
    }
    
    .margtx{
      margin-top: 10px;
      font-size: 13px;
      color: white;
    }
    
    .contphoto2{
      background-image: url(./მაილ.png);
      background-size: 20px;
      height: 20px;
      width: 20px;
      margin: 10px;
      background-repeat: no-repeat;
    }
    
    .contphoto3{
      background-image: url(./white-phone-icon-png-transparent-25.jpg);
      background-size: 20px;
      height: 20px;
      width: 20px;
      margin: 10px;
      background-repeat: no-repeat;
    }
    
    .cards {
        margin: 0 auto;
        max-width:100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        grid-auto-rows: auto;
        gap: 20px;
        font-family: sans-serif;
        padding-top: 30px;
    }
    
    .cards * {
        box-sizing: border-box;
    }

    .card{
        transform: scale(.95);
    }

    .card:hover{
        transform: scale(1);
    }
    
    .card__image {
        width: 100%;
        object-fit: cover;
        display: block;
        border-top: 2px solid #333333;
        border-right: 2px solid #333333;
        border-left: 2px solid #333333;
    }
    
    .card__content {
        line-height: 1.5;
        font-size: 0.9em;
        padding: 15px;
        background: #fafafa;
        border-right: 2px solid #333333;
        border-left: 2px solid #333333;
    }
    
    .card__content > p:first-of-type {
        margin-top: 0;
    }
    
    .card__content > p:last-of-type {
        margin-bottom: 0;
    }
    
    .card__info {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #555555;
        background: #eeeeee;
        font-size: 0.8em;
        border-bottom: 2px solid #333333;
        border-right: 2px solid #333333;
        border-left: 2px solid #333333;
    }
    
    .card__info i {
        font-size: 0.9em;
        margin-right: 8px;
    }
    
    .card__link {
        color: #64968c;
        text-decoration: none;
    }
    
    .card__link:hover {
        text-decoration: underline;
    }
    

}


@media (min-width: 768px){

    html{
      scroll-behavior: smooth;
      overflow-x: hidden;
    }
    
    .mainheader{
      background-color: rgb(128, 0, 117);
      height: 50px;
    }
    
    .disp{
      display: flex;
      position: relative;
      top: 8px;
    }
    
    .sign a{
      text-decoration: none;
      color: white;
      margin-left: 15px;
      
    }
    
    .header1{
        background-color: aliceblue;
        height: 80px;
        box-shadow:0px 3px 5px;
        color: rgb(128, 0, 117);
    }
    
    .headerimage{
        width: 130px;
        height: 80px;
        background-image: url(../logoforjs.png);
        background-size: 200px;
        background-repeat: no-repeat;
        background-position: center;
    
    }
    
    .marginhead{
        width: 70%;
        margin: auto;
        /* border: solid; */
        display: flex;
    }
    
    .headerlist{
        color: black;
        list-style: none;
        display:flex;
        width: 150px;
        margin-top: 25px;
        margin-right: 15px;
    }
    .li1{
        margin: 7px;
        font-family:Arial, Helvetica, sans-serif;
    }
    
    .headmenu{
        text-decoration: none;
        color: black;
        margin-left: 40px;
        font-size: 22px;
    }
    
    .headmenu:hover{
        color: green;
    }
    
    /*menu nawili */
    
    .navbar {
      background-color: #333;
      position: fixed;
      z-index: 999;
      top: 0px;
      width: 100%;
      height:57px;
      display: flex;
    }
    
    .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 15px;
      height: 57px;
      width: 100%;
    }
    
    .navbar a:hover {
      background: #ddd;
      color: black;
    }
    
    .main {
      padding: 16px;
      margin-top: 30px;
    } 
    
    /* image slider */
    
    * {box-sizing: border-box}
    body {font-family: Verdana, sans-serif; margin:0}
    .mySlides {display: none}
    img {vertical-align: middle;}
    
    
    
    
    .footer{
        background-color: rgb(36, 35, 35);
        width: 100%;
    }
    
    .info{
      color: white;
      font-size: 13px;
    }
    
    
    .displaycont{
      display: flex;
    }
    
    
    .contphoto1{
      background-image: url(./misamart.png);
      background-size: 20px;
      height: 20px;
      width: 20px;
      margin: 10px;
      background-repeat: no-repeat;
    }
    
    .margtx{
      margin-top: 10px;
      font-size: 13px;
      color: white;
    }
    
    .contphoto2{
      background-image: url(./მაილ.png);
      background-size: 20px;
      height: 20px;
      width: 20px;
      margin: 10px;
      background-repeat: no-repeat;
    }
    
    .contphoto3{
      background-image: url(./white-phone-icon-png-transparent-25.jpg);
      background-size: 20px;
      height: 20px;
      width: 20px;
      margin: 10px;
      background-repeat: no-repeat;
    }
    
    .cards {
        margin: 0 auto;
        max-width:100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        grid-auto-rows: auto;
        gap: 20px;
        font-family: sans-serif;
        padding-top: 30px;
    }
    
    .cards * {
        box-sizing: border-box;

    }


    .card{
        transform: scale(.95);
    }

    .card:hover{
        transform: scale(1);
    }
    
    .card__image {
        width: 100%;
        object-fit: cover;
        display: block;
        border-top: 2px solid #333333;
        border-right: 2px solid #333333;
        border-left: 2px solid #333333;
    }
    
    .card__content {
        line-height: 1.5;
        font-size: 0.9em;
        padding: 15px;
        background: #fafafa;
        border-right: 2px solid #333333;
        border-left: 2px solid #333333;
    }
    
    .card__content > p:first-of-type {
        margin-top: 0;
    }
    
    .card__content > p:last-of-type {
        margin-bottom: 0;
    }
    
    .card__info {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #555555;
        background: #eeeeee;
        font-size: 0.8em;
        border-bottom: 2px solid #333333;
        border-right: 2px solid #333333;
        border-left: 2px solid #333333;
    }
    
    .card__info i {
        font-size: 0.9em;
        margin-right: 8px;
    }
    
    .card__link {
        color: #64968c;
        text-decoration: none;
    }
    
    .card__link:hover {
        text-decoration: underline;
    }
    

}




@media (min-width: 1150px){

    html{
      scroll-behavior: smooth;
      overflow-x: hidden;
    }

    .mtavar12{
        border: solid purple;
    }
    
    .mainheader{
      background-color: rgb(128, 0, 117);
      height: 50px;
      margin: auto;
      width: 75%;
      box-shadow:0px 3px 5px;
      color: rgb(128, 0, 117);
    }
    
    .disp{
      display: flex;
      position: relative;
      top: 8px;
    }
    
    .sign a{
      text-decoration: none;
      color: white;
      margin-left: 15px;
      
    }
    
    .header1{
        background-color: aliceblue;
        width: 75%;
        height: 80px;
        margin:-10px auto;
        box-shadow:0px 3px 5px;
        color: rgb(128, 0, 117);
    }
    
    .headerimage{
        width: 130px;
        height: 80px;
        background-image: url(../logoforjs.png);
        background-size: 200px;
        background-repeat: no-repeat;
        background-position: center;
    
    }
    
    .marginhead{
        width: 70%;
        margin: auto;
        /* border: solid; */
        display: flex;
    }
    
    .headerlist{
        color: black;
        list-style: none;
        display:flex;
        width: 150px;
        position: relative;
        left: 100px;
    }
    .li1{
        margin: 7px;
        font-family:Arial, Helvetica, sans-serif;
    }
    
    .headmenu{
        text-decoration: none;
        color: black;
        margin-left: 70px;
        font-size: 25px;
    }
    
    .headmenu:hover{
        color: green;
    }
    
    /*menu nawili */
    
    .navbar {
      background-color: #333;
      position: fixed;
      z-index: 999;
      top: 0px;
      width: 100%;
      height:57px;
      display: flex;
    }
    
    .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 15px;
      height: 57px;
      width: 100%;
    }
    
    .navbar a:hover {
      background: #ddd;
      color: black;
    }
    
    .main {
      padding: 16px;
      margin-top: 30px;
    } 
    
    /* image slider */
    
    * {box-sizing: border-box}
    body {font-family: Verdana, sans-serif; margin:0}
    .mySlides {display: none}
    img {vertical-align: middle;}
    
    
    
    
    .footer{
        background-color: rgb(36, 35, 35);
        width: 100%;
    }
    
    .info{
      color: white;
      font-size: 13px;
    }
    
    
    .displaycont{
      display: flex;
    }
    
    
    .contphoto1{
      background-image: url(./misamart.png);
      background-size: 20px;
      height: 20px;
      width: 20px;
      margin: 10px;
      background-repeat: no-repeat;
    }
    
    .margtx{
      margin-top: 10px;
      font-size: 13px;
      color: white;
    }
    
    .contphoto2{
      background-image: url(./მაილ.png);
      background-size: 20px;
      height: 20px;
      width: 20px;
      margin: 10px;
      background-repeat: no-repeat;
    }
    
    .contphoto3{
      background-image: url(./white-phone-icon-png-transparent-25.jpg);
      background-size: 20px;
      height: 20px;
      width: 20px;
      margin: 10px;
      background-repeat: no-repeat;
    }
    
    .cards {
        margin: 0 auto;
        max-width:100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        grid-auto-rows: auto;
        gap: 20px;
        font-family: sans-serif;
        padding-top: 30px;
    }
    
    .cards * {
        box-sizing: border-box;
    }

    .card{
        transform: scale(.95);
    }

    .card:hover{
        transform: scale(1);
    }

    .trousers{
        width: 75%;
        margin: auto;
    }
    
    .card__image {
        width: 100%;
        object-fit: cover;
        display: block;
        border-top: 2px solid #333333;
        border-right: 2px solid #333333;
        border-left: 2px solid #333333;
    }
    
    .card__content {
        line-height: 1.5;
        font-size: 0.9em;
        padding: 15px;
        background: #fafafa;
        border-right: 2px solid #333333;
        border-left: 2px solid #333333;
    }
    
    .card__content > p:first-of-type {
        margin-top: 0;
    }
    
    .card__content > p:last-of-type {
        margin-bottom: 0;
    }
    
    .card__info {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #555555;
        background: #eeeeee;
        font-size: 0.8em;
        border-bottom: 2px solid #333333;
        border-right: 2px solid #333333;
        border-left: 2px solid #333333;
    }
    
    .card__info i {
        font-size: 0.9em;
        margin-right: 8px;
    }
    
    .card__link {
        color: #64968c;
        text-decoration: none;
    }
    
    .card__link:hover {
        text-decoration: underline;
    }
    

}