@media (max-width: 768px){

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.mainheader{
  background-color: rgb(128, 0, 117);
  height: 50px;
}

.disp{
  display: flex;
  position: relative;
  top: 8px;
}

.sign a{
  text-decoration: none;
  color: white;
  margin-left: 15px;
  
}

.header1{
    background-color: aliceblue;
    height: 80px;
    margin:-10px;
    box-shadow:0px 3px 5px;
    color: rgb(128, 0, 117);
}

.headerimage{
    width: 130px;
    height: 80px;
    background-image: url(./logoforjs.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;

}

.marginhead{
    width: 70%;
    margin: auto;
    /* border: solid; */
    display: flex;
}

.headerlist{
    color: black;
    list-style: none;
    display:flex;
    width: 150px;
    margin-top: 25px;
    margin-right: 15px;
}
.li1{
    margin: 7px;
    font-family:Arial, Helvetica, sans-serif;
}

.headmenu{
    text-decoration: none;
    color: black;
}

.headmenu:hover{
    color: green;
}

/*menu nawili */

.navbar {
  background-color: #333;
  position: fixed;
  z-index: 999;
  top: 0px;
  width: 100%;
  height:57px;
  display: flex;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  height: 57px;
  width: 100%;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
} 

/* image slider */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}




.footer{
    background-color: rgb(36, 35, 35);
    width: 100%;
}

.info{
  color: white;
  font-size: 13px;
}

.warwera{
  position: relative; 
  left: 150px;
}

.displaycont{
  display: flex;
}


.contphoto1{
  background-image: url(./misamart.png);
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin: 10px;
  background-repeat: no-repeat;
}

.margtx{
  margin-top: 10px;
  font-size: 13px;
  color: white;
}

.contphoto2{
  background-image: url(./მაილ.png);
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin: 10px;
  background-repeat: no-repeat;
}

.contphoto3{
  background-image: url(./white-phone-icon-png-transparent-25.jpg);
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin: 10px;
  background-repeat: no-repeat;
}

/* .mtavaripr{
  display:inline-flex;
  border: solid black 2px;
} */


.main1{
  background-color: #f4f4f4f4;
  padding: 4rem 0;
}

.slide_container{
  max-width: 1000px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.arrow{
  width: 2rem;
  margin: 0 0.5rem;
}

.container1{
  margin: 0 auto;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}


.imgs{
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: 200px;
  box-shadow: 0px 0px 10px rgb(112, 112, 112);
  margin: 10px;
  transform: scale(.95);
  transition:all .3s;
}

.imgs:hover{
  transform: scale(1);
}

.container1::-webkit-scrollbar{
  height: 10px;
  width: 2px;
  border: solid #d5d5d5;
  background: #d5d5d5;
}

.container1::-webkit-scrollbar-track{
  --webkit-box-shadow: inset 0 0 6px rgba(0 , 0 , 0 , .3)
}

.container1::-webkit-scrollbar-thumb{
  background-color: rgb(109, 49, 114);
  outline: 1px solid #eee;
}



/* menu */

img {
  vertical-align: middle;
  background-size: cover;
}

/* Position the image container (needed to position the left and right arrows) */

.limited{
  margin-top: -60px;
  position: relative;
  top: 80px;
  color: rgb(47, 0, 255);
  font-size: 25px;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

.row{
  position: relative;
  left: 80px;
  overflow: hidden;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

}


/* tablet */

@media (min-width: 768px){

  html{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  .mainheader{
    background-color: rgb(128, 0, 117);
    height: 50px;
  }
  
  .disp{
    display: flex;
    position: relative;
    top: 8px;
  }
  
  .sign a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    
  }
  
  .header1{
      background-color: aliceblue;
      height: 80px;
      margin:-10px;
      box-shadow:0px 3px 5px;
      color: rgb(128, 0, 117);
  }
  
  .headerimage{
      width: 130px;
      height: 80px;
      background-image: url(./logoforjs.png);
      background-size: 200px;
      background-repeat: no-repeat;
      background-position: center;
  
  }
  
  .marginhead{
      width: 70%;
      margin: auto;
      /* border: solid; */
      display: flex;
  }
  
  .headerlist{
      color: black;
      list-style: none;
      position: relative;
      right: -100px;
      display:flex;
      width: 150px;
      margin-top: 25px;
      margin-right: 15px;
  }
  .li1{
      margin: 7px;
      font-family:Arial, Helvetica, sans-serif;
  }
  
  .headmenu{
      text-decoration: none;
      color: black;
      margin-right: 100px;
      font-size: 20px;
  }
  
  .headmenu:hover{
      color: green;
  }
  
  /*menu nawili */
  
  .navbar {
    background-color: #333;
    position: fixed;
    z-index: 999;
    top: 0px;
    width: 100%;
    height:57px;
    display: flex;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    height: 57px;
    width: 100%;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .main {
    padding: 16px;
    margin-top: 30px;
  } 
  
  /* image slider */
  
  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none}
  img {vertical-align: middle;}
  
  
  
  
  .footer{
      background-color: rgb(36, 35, 35);
      width: 100%;
  }
  
  .info{
    color: white;
    font-size: 13px;
  }

  .warwera{
    position: relative; 
    left: 410px;
  }
  
  .displaycont{
    display: flex;
  }
  
  
  .contphoto1{
    background-image: url(./misamart.png);
    background-size: 20px;
    height: 20px;
    width: 20px;
    margin: 10px;
    background-repeat: no-repeat;
  }
  
  .margtx{
    margin-top: 10px;
    font-size: 13px;
    color: white;
  }
  
  .contphoto2{
    background-image: url(./მაილ.png);
    background-size: 20px;
    height: 20px;
    width: 20px;
    margin: 10px;
    background-repeat: no-repeat;
  }
  
  .contphoto3{
    background-image: url(./white-phone-icon-png-transparent-25.jpg);
    background-size: 20px;
    height: 20px;
    width: 20px;
    margin: 10px;
    background-repeat: no-repeat;
  }
  
  /* .mtavaripr{
    display:inline-flex;
    border: solid black 2px;
  } */
  
  
  .main1{
    background-color: #f4f4f4f4;
    padding: 4rem 0;
  }
  
  .slide_container{
    max-width: 1000px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .arrow{
    width: 2rem;
    margin: 0 0.5rem;
  }
  
  .container1{
    margin: 0 auto;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  
  .imgs{
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: 200px;
    box-shadow: 0px 0px 10px rgb(112, 112, 112);
    margin: 10px;
    transform: scale(.95);
    transition:all .3s;
  }
  
  .imgs:hover{
    transform: scale(1);
  }
  
  .container1::-webkit-scrollbar{
    height: 10px;
    width: 2px;
    border: solid #d5d5d5;
    background: #d5d5d5;
  }
  
  .container1::-webkit-scrollbar-track{
    --webkit-box-shadow: inset 0 0 6px rgba(0 , 0 , 0 , .3)
  }
  
  .container1::-webkit-scrollbar-thumb{
    background-color: rgb(109, 49, 114);
    outline: 1px solid #eee;
  }
  
  
  
  /* menu */
  
  img {
    vertical-align: middle;
    background-size: cover;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  
  .limited{
    margin-top: -60px;
    position: relative;
    top: 80px;
    color: rgb(47, 0, 255);
    font-size: 25px;
  }
  
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  .row{
    position: relative;
    left: 130px;
    overflow: hidden;
  }

  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  }

  @media (min-width: 1150px){


    .mtavar12{
      width: 80%;
      margin: auto;
      background-color: white;
      box-shadow:0px 3px 5px;
      color: rgb(128, 0, 117);
    }

    html{
      scroll-behavior: smooth;
      overflow-x: hidden;
    }
    
    .mainheader{
      background-color: rgb(128, 0, 117);
      height: 50px;
    }
    
    .disp{
      display: flex;
      position: relative;
      top: 8px;
    }
    
    .sign a{
      text-decoration: none;
      color: white;
      margin-left: 15px;
      
    }
    
    .header1{
      width: 100%;
        background-color: aliceblue;
        height: 80px;
        margin: auto;
        box-shadow:0px 3px 5px;
        color: rgb(128, 0, 117);
    }
    
    .headerimage{
        width: 130px;
        height: 80px;
        background-image: url(./logoforjs.png);
        background-size: 200px;
        background-repeat: no-repeat;
        background-position: center;
    
    }
    
    .marginhead{
        width: 70%;
        margin: auto;
        /* border: solid; */
        display: flex;
    }
    
    .headerlist{
        color: black;
        list-style: none;
        position: relative;
        right: -100px;
        display:flex;
        width: 150px;
        margin-top: 25px;
        margin-right: 15px;
    }
    .li1{
        margin: 7px;
        font-family:Arial, Helvetica, sans-serif;
    }
    
    .headmenu{
        text-decoration: none;
        color: black;
        margin-right: 100px;
        font-size: 20px;
    }
    
    .headmenu:hover{
        color: green;
    }
    
    /*menu nawili */
    
    .navbar {
      background-color: #333;
      position: fixed;
      z-index: 999;
      top: 0px;
      width: 80%;
      height:60px;
      display: flex;
    }
    
    .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 15px;
      height: 57px;
      width: 100%;
    }
    
    .navbar a:hover {
      background: #ddd;
      color: black;
    }
    
    .main {
      padding: 16px;
      margin-top: 30px;
    } 
    
    /* image slider */
    
    * {box-sizing: border-box}
    body {font-family: Verdana, sans-serif; margin:0}
    .mySlides {display: none}
    img {vertical-align: middle;}
    
    
    
    
    .footer{
        background-color: rgb(36, 35, 35);
        width: 100%;
    }
    
    .info{
      color: white;
      font-size: 13px;
    }
  
    .warwera{
      position: relative; 
      left: 540px;
    }
    
    .displaycont{
      display: flex;
    }
    
    
    .contphoto1{
      background-image: url(./misamart.png);
      background-size: 20px;
      height: 20px;
      width: 20px;
      margin: 10px;
      background-repeat: no-repeat;
    }
    
    .margtx{
      margin-top: 10px;
      font-size: 13px;
      color: white;
    }
    
    .contphoto2{
      background-image: url(./მაილ.png);
      background-size: 20px;
      height: 20px;
      width: 20px;
      margin: 10px;
      background-repeat: no-repeat;
    }
    
    .contphoto3{
      background-image: url(./white-phone-icon-png-transparent-25.jpg);
      background-size: 20px;
      height: 20px;
      width: 20px;
      margin: 10px;
      background-repeat: no-repeat;
    }
    
    /* .mtavaripr{
      display:inline-flex;
      border: solid black 2px;
    } */
    
    
    .main1{
      background-color: #f4f4f4f4;
      padding: 4rem 0;
    }
    
    .slide_container{
      max-width: 1000px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
    
    .arrow{
      width: 2rem;
      margin: 0 0.5rem;
    }
    
    .container1{
      margin: 0 auto;
      display:flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      overflow-x: auto;
    }
    
    
    .imgs{
      width: 250px;
      height: 250px;
      background-position: center;
      background-size: 200px;
      box-shadow: 0px 0px 10px rgb(112, 112, 112);
      margin: 10px;
      transform: scale(.95);
      transition:all .3s;
    }
    
    .imgs:hover{
      transform: scale(1);
    }
    
    .container1::-webkit-scrollbar{
      height: 10px;
      width: 2px;
      border: solid #d5d5d5;
      background: #d5d5d5;
    }
    
    .container1::-webkit-scrollbar-track{
      --webkit-box-shadow: inset 0 0 6px rgba(0 , 0 , 0 , .3)
    }
    
    .container1::-webkit-scrollbar-thumb{
      background-color: rgb(109, 49, 114);
      outline: 1px solid #eee;
    }
    
    
    
    /* menu */
    
    img {
      vertical-align: middle;
      background-size: cover;
    }
    
    /* Position the image container (needed to position the left and right arrows) */
    
    .limited{
      margin-top: -60px;
      position: relative;
      top: 80px;
      color: rgb(47, 0, 255);
      font-size: 25px;
    }
    
    
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
      cursor: pointer;
    }
    
    .row{
      position: relative;
      left: 300px;
      overflow: hidden;
    }
  
    
    /* Six columns side by side */
    .column {
      float: left;
      width: 16.66%;
    }
    
    /* Add a transparency effect for thumnbail images */
    .demo {
      opacity: 0.6;
    }
    
    .active,
    .demo:hover {
      opacity: 1;
    }
    
    }
  
  
  
  
  