.div{
    border: solid 2px blue;
    width: 800px;
    height: 500px;
    margin: auto;
    position: relative;
}

.div1{
    border: solid 2px blue;
    width: 350px;
    margin: auto;
}

.kvadrati{
    position: absolute;
    border: solid black 1px;
    background-color: lightskyblue;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
}

.button, button{
    margin: 5px;
}