.st_table{
    border: solid 1px black;
    /* width: 200px; */
    height: 150px;
    border-collapse: collapse;
}

.st_table td{
    border: solid 1px black;
    padding: 5px;
    width: 175px;
    
}

.st_table td img{
    width: 200px;
    height: 200px;
}

.task1{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}