body{
    background-color: rgb(15, 15, 85);
}

.span1{
    color: red;
}

.span2{
    color: white;
}

.span3{
    font-style: italic;
    color: yellow;
}

.span4{
    color: green;
}

.span5{
    color: white;
    text-shadow: 2px 2px red;
}