.st_table{
    border: solid 1px black;
    width: 200px;
    height: 150px;
}

.st_table td{
    border: solid 1px black;
    padding: 5px;
}

.task1{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}