.controls{
    border: solid 2px blueviolet;
    width: 700px;
    margin: auto;
    background: beige;
    margin-bottom: 10px;
}

.kvadrati1{
    border: solid 4px rgb(2, 2, 2);
    width: 50px;
    height: 50px;
    position: absolute;
    box-sizing: border-box;
    cursor: crosshair;
}

.square{
    border: solid 2px blueviolet;
    height:400px;
    width: 700px;
    margin: auto;
    background: rgb(75, 215, 250);
    margin-bottom: 10px;
    position: relative;
}

.general_div{
    border: solid 2px black;
    min-height: 90px;
    width: 50%;
    margin: auto;
    background: beige;
    margin-bottom: 10px;
}


