@media (max-width:768px){



body{
    background-image: linear-gradient(#2dce9e, #77f5a3);
    height: 6140px;
}
.mtavari{
    margin: auto;
    border-radius: 20px;
    background-color: white;
    max-width: 85%;
    text-align: center;
}

.label1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 30px;
    margin-top: 10px;
    color: #12a599;
}

.margin1{
    border: solid rgb(187, 187, 187) 1.5px;
    width: 65%;
    height: 40px;
    margin: 20px;
    box-shadow: 0px 0px 5px #afafaf;
}

.margin2{
    border: none;
    border-radius: 3px;
    margin: 10px;
    width: 25%;
    height: 35px;
    background-color: #12a599;
    box-shadow: 0px 0px 5px #7a7a7a;
    color: white;
}

.margin3{
    float: left;
    position: relative;
    left: 65px;
}

.forget{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}


.pw-meter input {
    border: solid rgb(187, 187, 187) 1.5px;
    width: 65%;
    height: 40px;
    margin: 20px;
    box-shadow: 0px 0px 5px #afafaf;
}
  
.pw-meter .pw-strength {
    position:relative;
    width:65%;
    height:20px;
    margin:10px auto;
    text-align:center;
    background:#f2f2f2;
    display:none;
}

.pw-meter .pw-strength span:nth-child(1) {
    position:relative;
    font-size:13px;
    color:#111;
    z-index:2;
    font-weight:600;
}

.pw-meter .pw-strength span:nth-child(2) {
    position:absolute;
    top:0px;
    left:0px;
    width:0%;
    height:100%;
    border-radius:5px;
    z-index:1;
    transition:all 300ms ease-in-out;
}}


@media (min-width:768px){



    body{
        background-image: linear-gradient(#2dce9e, #77f5a3);
        height: 6140px;
    }
    .mtavari{
        margin: auto;
        border-radius: 20px;
        background-color: white;
        max-width: 45%;
        text-align: center;
    }
    
    .label1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
        font-size: 30px;
        margin-top: 10px;
        color: #12a599;
    }
    
    .margin1{
        border: solid rgb(187, 187, 187) 1.5px;
        width: 65%;
        height: 40px;
        margin: 20px;
        box-shadow: 0px 0px 5px #afafaf;
    }
    
    .margin2{
        border: none;
        border-radius: 3px;
        margin: 10px;
        width: 25%;
        height: 35px;
        background-color: #12a599;
        box-shadow: 0px 0px 5px #7a7a7a;
        color: white;
    }
    
    .margin3{
        float: left;
        position: relative;
        left: 65px;
    }
    
    .forget{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
    }
    
    
    .pw-meter input {
        border: solid rgb(187, 187, 187) 1.5px;
        width: 65%;
        height: 40px;
        margin: 20px;
        box-shadow: 0px 0px 5px #afafaf;
    }
      
    .pw-meter .pw-strength {
        position:relative;
        width:65%;
        height:20px;
        margin:10px auto;
        text-align:center;
        background:#f2f2f2;
        display:none;
    }
    
    .pw-meter .pw-strength span:nth-child(1) {
        position:relative;
        font-size:13px;
        color:#111;
        z-index:2;
        font-weight:600;
    }
    
    .pw-meter .pw-strength span:nth-child(2) {
        position:absolute;
        top:0px;
        left:0px;
        width:0%;
        height:100%;
        border-radius:5px;
        z-index:1;
        transition:all 300ms ease-in-out;
    }}

    @media (min-width:1150px){



        body{
            background-image: linear-gradient(#2dce9e, #77f5a3);
            height: 6140px;
        }
        .mtavari{
            margin: auto;
            border-radius: 20px;
            background-color: white;
            max-width: 25%;
            text-align: center;
        }
        
        .label1{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
            font-size: 30px;
            margin-top: 10px;
            color: #12a599;
        }
        
        .margin1{
            border: solid rgb(187, 187, 187) 1.5px;
            width: 65%;
            height: 40px;
            margin: 20px;
            box-shadow: 0px 0px 5px #afafaf;
        }
        
        .margin2{
            border: none;
            border-radius: 3px;
            margin: 10px;
            width: 25%;
            height: 35px;
            background-color: #12a599;
            box-shadow: 0px 0px 5px #7a7a7a;
            color: white;
        }
        
        .margin3{
            float: left;
            position: relative;
            left: 65px;
        }
        
        .forget{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 15px;
        }
        
        
        .pw-meter input {
            border: solid rgb(187, 187, 187) 1.5px;
            width: 65%;
            height: 40px;
            margin: 20px;
            box-shadow: 0px 0px 5px #afafaf;
        }
          
        .pw-meter .pw-strength {
            position:relative;
            width:65%;
            height:20px;
            margin:10px auto;
            text-align:center;
            background:#f2f2f2;
            display:none;
        }
        
        .pw-meter .pw-strength span:nth-child(1) {
            position:relative;
            font-size:13px;
            color:#111;
            z-index:2;
            font-weight:600;
        }
        
        .pw-meter .pw-strength span:nth-child(2) {
            position:absolute;
            top:0px;
            left:0px;
            width:0%;
            height:100%;
            border-radius:5px;
            z-index:1;
            transition:all 300ms ease-in-out;
        }}
    