body{
    background-color:silver;
}

.display{
    display:flex;
    margin-top: 20px ;
}

.kv_dge{
    border: solid black 2px;
    width: 150px;
    height: 20px;
    margin-left: 7px;
    padding: 10px;
    background-color: white;
}

.gamosacheni{
    margin-top: 10px;
    font-weight: bold;
}

button{
    width: 80px;
    height: 30px;
    margin-right: 5px;
}