body{
    background-color:silver;
}

div{
    font-size: 40px;
    height: 50px;
    margin-top: 10px;
    width: 400px;
}

.display{
    display: flex;
}

button{
    width: 200px;
    height: 50px;
    font-size: 30px;
}