.margin{
    margin: auto;
    width: 408px;
    border: solid 2px;
    background-color: bisque;
}

input{
    width: 400px;
    height: 40px;
}

button{
    width: 100px;
    height: 40px;
    margin-left: 150px;
}