body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, green, yellow);
}

.calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,100px);
    grid-template-rows:minmax(120px,auto) repeat(5, 80px);
    font-family:sans-serif;
    border: solid rgb(9, 9, 49) 5px;
    background-color: rgb(9, 9, 49);
    border-radius: 7px;
    width: 400px;
    margin: 50px auto ;
}

button{
    cursor: pointer;
    font-size: 35px;
    border: solid 1px blue;
    background-color: rgb(255, 185, 128 , 85%);
}

button:hover{
    background-color: rgb(255, 154, 72 , 85%) ;
}

.gamotana{
    grid-column: 1 / -1;
    background-color: rgb(63, 63, 63 , 90%);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.current-operand{
    color: white ;
    opacity: 85%;
    font-size: 30px;
}

.origrid{
    grid-column: span 2 ;
    background-color: cornflowerblue;
}

.toloba{
    background-color: cornflowerblue;
}
